body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

a {
text-decoration: none;
}

p {
        font-size: 16px;
        color: #434455;
}

h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        text-align: center;
}

h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.navigation-item {
    font-weight: 500;
        font-size: 16px;
        color: #2e2f42;

}

.navigation-item:hover,
.navigation-item:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.start {
    background-color: #2e2f42;
}

.start-name {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: #fff;
        letter-spacing: 0.02em;
}

.start-button {
        background: #4d5ae5;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.04em;
            color: #fff;
            line-height: 1.5
}

.start-button:hover,
.start-button:focus {
    background-color: #404bbf;
}

.features {
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team {
    background-color: #f4f4fd;
}

.our-team {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member {
        background: #fff;
}

.team-member-name {
    text-align: center;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-member-profession {
    text-align: center;
    letter-spacing: 0.02em;
}

.our-portfolio {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.bottom {
    background-color: #2e2f42;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo-part-bottom {
    color: #f4f4fd;
}

.paragraph-bottom {
    color: #f4f4fd;
}