body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* @media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
}
} */


.section {
    display: flex;
    justify-content: center;
    padding: 96px 0;
    margin: 0 auto;
}

a {
text-decoration: none;
}

p {
        font-size: 16px;
        color: #434455;
}

svg {
    fill: none;
}

h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        text-align: center;
}

h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.navigation {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.headcont {
    display: flex;
    justify-content: space-between;
}

.navigation-item {
    font-weight: 500;
        font-size: 16px;
        color: #2e2f42;
        padding: 24px 0px;
        transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-active {
    position: relative;
    color: #404bbf;
}

.item-active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation-item:hover,
.navigation-item:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        color: #434455;
        transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-item {
    padding: 24px 0px;
}

.start {
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
}

.start-name {
        font-size: 36px;
        line-height: 1.11;
        max-width: 216px;
            text-align: center;
            color: #fff;
            margin-bottom: 72px;
}

.start-button {
    display: block;
    background: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button:hover,
.start-button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
        gap: 72px;
        max-width: 1158px;
        min-width: 288px;
        margin: 0 auto;
}

.features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-description {
    font-weight: 500;
}

.features-wrapper {
    display: none;
}

.team {
    background-color: #f4f4fd;
}

.team .container {
    max-width: 296px;
    padding: 0 16px;
}

.our-team {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    max-width: 1158px;
    min-width: 264px;
}

.team-member {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-card {
    padding: 32px 16px 0px;
}

.team-member-name {
    text-align: center;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.team-member-profession {
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.member-socials {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
}

.member-socials .link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.member-socials .link:hover,
.member-socials .link:focus{
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.our-portfolio {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    max-width: 1158px;
    min-width: 288px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-wrapper .thumb {
    width: 288px;
    height: 280px;
}

.portfolio-wrapper .thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

.portfolio-title {
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.bottom {
    background-color: #2e2f42;
    padding: 96px 0;
}

.logo-bottom {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        text-align: center;
}

.logo-part-bottom {
    color: #f4f4fd;
}

.footer-logo-wrapper {
    width: 288px;
    margin-bottom: 72px;
}

.paragraph-bottom {
    font-weight: 400;
    color: #f4f4fd;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-text {
    font-weight: 500;
        color: #fff;
        margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-link {
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-form-label {
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form-input {
    border: 1px solid #fff;
        border-radius: 4px;
        min-width: 288px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        opacity: 0.3;
        background-color: transparent;
        padding: 8px 16px;
        font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
color: #fff;
}

.footer-form-input:hover {
    border-color: #4d5ae5;
}

.footer-form-input:hover::placeholder {
    color: #4d5ae5;
}

.footer-form-btn {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        border-radius: 4px;
            padding: 8px 24px;
            min-width: 165px;
            height: 40px;
            border: none;

            background-color: #4d5ae5;

            font-weight: 500;
                letter-spacing: 0.04em;
                text-align: center;
                color: #fff;
                cursor: pointer;
                line-height: 1.5;

                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
}

.footer-form-icon {
    fill: #fff;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%);

width: 408px;
min-height: 584px;
border-radius: 4px;

padding: 24px;
padding-top: 72px;


box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);

        cursor: pointer;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        position: absolute;
        top: 24px;
        right: 24px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
        text-align: center;
        margin-bottom: 16px;
        color: #2E2F42;
}

.modal-form {
    width: 360px;
}

.modal-wrapper {
    margin-bottom: 8px;
}

.modal-label {
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.17;
        color: #8e8f99;
        margin-bottom: 4px;
        display: block;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding: 11px 38px;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            background-color: transparent;

            outline: transparent;

            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 120px;
        resize: none;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 8px 16px;

        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            display: block;

            background-color: transparent;

            
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-comment {
    margin-bottom: 16px;
}

.modal-textarea::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox:checked + .checkbox-label > .custom-checkbox {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}

.checkbox-label {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 8px;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: #fcfcfc;
}

.privacy-policy {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.modal-submit-btn {
    display: block;
    cursor: pointer;

    border-radius: 4px;
    border: none;
        padding: 16px 32px;
        min-width: 169px;
        min-height: 56px;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: #4d5ae5;

            font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                text-align: center;
                color: #fff;

                margin: 0 auto;

                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 0 16px;
    }

    .start {
        padding: 112px 0;
    }

        .start-name {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            text-align: center;
            color: #fff;
            margin-bottom: 36px;
        }

    .features-list {
        row-gap: 72px;
        column-gap: 24px;
        }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

        .team-list {
            row-gap: 64px;
            column-gap: 24px;
        }

        .team-member {
            width: calc((100% - 24px) / 2);
        }

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
}

.portfolio-item {
    width: calc((100% - 24px) / 2);
}

.portfolio-wrapper .thumb {
    width: 356px;
    height: 300px;
}

.logo-bottom {
    text-align: left;
}

.footer-logo-wrapper {
    width: 264px;
    margin-bottom: 0;
}

.footer-wrapper {
    margin-bottom: 0;
    align-items: start;
}

.footer-container {
    max-width: 528px;
    padding: 0 16px;
}

.tablet-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}

.subscribe {
    margin-left: 0;
}

.footer-form-label {
    text-align: left;
}

.footer-form {
    flex-direction: row;
    gap: 24px;
}

.footer-form-input {
min-width: 264px;
}
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team .container {
        max-width: 584px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding: 120px 0;
    }

.start {
    padding: 188px 0;
}

.start-name {
margin-bottom: 48px;
}

        .features-item {
            width: calc((100% - 72px) / 4);
        }

        .features {
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                text-align: left;
        }

        .features-description {
            font-weight: 400;
        }

        .features-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 112px;
                    background-color: #f4f4fd;
                    border: 1px solid #8e8f99;
                    border-radius: 4px;
                    margin-bottom: 8px;
                }

.team .container {
    max-width: 1158px;
    padding: 0 15px;
}

.team-list {
    flex-wrap: nowrap;
}

.team-member {
    width: calc((100% - 72px) / 4);
}

.portfolio-list {
    display: flex;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-wrapper .thumb {
    width: 360px;
    height: 300px;
}

.bottom {
    padding: 100px 0;
}

.footer-logo-wrapper {
    margin-right: 120px;
}

.tablet-wrapper {
    gap: 0;
    margin-bottom: 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-wrapper {
    margin-right: 80px;
}

.subscribe {
    margin-left: auto;
    min-width: 453px;
}
}

@media screen and (min-resolution: 192dpi) {
    .start {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);
    }
}
